---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import SpeakersGrid from '../components/SpeakersGrid.astro';
import Schedule from '../components/Schedule.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';

import 'bootstrap/dist/css/bootstrap.css';
import Supporters from '../components/Supporters.astro';
import { speakers, schedule } from '../data';


---

<Layout title="Niñas y mujeres en tech">
	<Header />
	<main>
		<About />
		<SpeakersGrid speakers={speakers} />
		<Schedule schedule={schedule} />
		<Supporters />
	</main>
	<Footer />
	<BackToTop />
</Layout>
