<section id="about">
  <div class="container position-relative" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>Acerca del evento</h2>
        <p>
          Evento realizado en conmemoración a el día internacional de las niñas en las TIC,
          cuyo objetivo es alentar a las niñas y mujeres jóvenes a considerar la posibilidad
          de orientar sus estudios y profesiones al campo de las carreras tecnológicas.
          Este evento busca mostrarles el increíble mundo de la tecnología con ponentes profesionales
          exitosas en sus campos para motivar a más niñas a seguir sus pasos.
        </p>
      </div>
      <div class="col-lg-3">
        <h3>Dónde</h3>
        <p>Epico, Km2 Av. Carlos Julio Arosemena Plaza Guayarte, Guayaquil</p>
      </div>
      <div class="col-lg-3">
        <h3>Cuándo</h3>
        <p>Sábado 27 de abril</p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

<style>
  #about {
    background: url("assets/img/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }

  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }

  #about:before {
    content: "";
    background: rgba(113,67,220, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }

  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }

  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
  }

</style>