  <!-- ======= Footer ======= -->
  <footer id="footer">
    <p class="text-center mb-0">
      ©2024 Google Developer Groups Guayaquil 
    </p>
    <div class="social-links">
      <a
        href="https://www.facebook.com/gdgGuayaquil"
        target="_blank"
      ><i class="bi bi-facebook"></i></a>
      <a
        href="https://www.instagram.com/gdgguayaquil/"
        target="_blank"
      ><i class="bi bi-instagram"></i></a>
      <a
        href="https://www.linkedin.com/company/gdgguayaquil"
        target="_blank"
      ><i class="bi bi-linkedin"></i></a>
      <a
        href="mailto:hello@gdggye.org"
      ><i class="bi bi-envelope-fill"></i></a>
    </div>
  </footer><!-- End  Footer -->

<style>
  #footer {
    background: #101522;
    color: #eee;
    font-size: 14px;
    padding: 20px 0;
  }

  #footer .social-links {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  #footer .social-links a {
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #footer .footer-top .social-links a i {
    line-height: 0;
    font-size: 16px;
  }

  #footer .footer-top .social-links a:hover {
    background: #f82249;
    color: #fff;
  }
</style>