---
import { type Speaker } from '../types';

interface Props {
	speakers: Speaker[];
}

const { speakers } = Astro.props;

---

<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Ponentes del Evento</h2>
      <p>Aquí están nuestras maravillosas ponentes</p>
    </div>

    <div class="row">
      {
        speakers.map((speaker) => (
          <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img
              src={speaker.image}
              alt={speaker.name}
              class="img-fluid"
            >
            <div class="details">
              <h3>{ speaker.name }</h3>
              <p>{ speaker.role }</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        ))
      }
    </div>
  </div>

</section><!-- End Speakers Section -->
