<section id="supporters" class="section-with-bg">

  <div class="container" data-aos="fade-up">
    <div class="section-header mb-4">
      <h2>Organiza</h2>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div>
        <img
          src="assets/img/gdg_horizontal_logo.png"
          class="img-fluid"
          alt=""
          width="450"
        >
      </div>
      <div>
        <img
          src="assets/img/WIE.png"
          class="img-fluid"
          alt=""
          style="width: 500px; height: auto;"
        >
      </div>
    </div>
    <div class="section-header mt-5 mb-4">
      <h2>Con el apoyo de</h2>
    </div>
    <div class="d-flex justify-content-center">
      <img
        src="assets/img/epico_logo.png"
        class="img-fluid mt-3"
        alt=""
        width="300"
      >
    </div>

  </div>

</section>
